.line-bottom {
    border-bottom: 1px solid rgba(225, 227, 229, 1);
}

.act-back {
    cursor: pointer;
}

// Polaris overide
.Polaris-Tabs__Wrapper {
    border-bottom: none;
}

a {
    text-decoration: none;
}
